* {
margin:0;
padding:0;
}

/* General Style Info */
body {
	background-color: #2C6877;
	color: #fff;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
}
a {
	background-color: inherit;
	color: #003d4c;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	background-color: inherit;
	color: #003d4c;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	background-color: inherit;
	font-weight:normal;
}
h1 {
	color: #003d4c;
	font-size: 160%;
	margin: 0.1em 0;
}
h2 {
	color: #2C6877;
	font-size: 160%;
	margin: 0.3em 0;
	padding-top: 1em;
}
h3 {
	color: #c6c65b;
	font-size: 120%;
	padding-top: 2em;
}
h4 {
	color: #c6c65b;
	font-weight: normal;
	padding-top: 0.5em;
}
ul, li {
	margin: 0 12px;
}

/* Layout */
#container {
	text-align: left;
}

#header{
	background-color: #2C6877;
	padding: 10px 20px 0 20px;
	height: 5em;
}
#header h1 { 
	color: #ffffff;
	background: url('../img/cake.icon.png') no-repeat;
	padding: 5px 50px;
	height: 5em;
}
#header h1 a { 
	color: #ffffff;
	background: #2C6877;
	text-decoration: none;
}
#header h1 a:hover { 
	color: #ffffff;
	background: #003d4c;
	text-decoration: none;
}
#content{
	background-color: #fff;
	clear: both;
	color: #333;
	padding: 0px 40px 40px 40px;
	overflow: auto;
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

/* Tables */
table {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	background-color: #f2f2f2;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	text-align: center;
}

th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}

th a:hover {
	background-color: #ccc;
	color: #333;
	text-decoration: none;
}

table tr td {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}
table tr.altrow td {
	background: #f4f4f4;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
td.actions a {
	display: inline;
	margin: 0px 6px;
}
.cakeSqlLog table {
	background: #f4f4f4;
}
.cakeSqlLog td {
	padding: 4px 8px;
	text-align: left;
}

/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 50%;
}
dl .altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 60%;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	color: #2C6877;
	font-size: 160%;
	font-weight: bold;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.optional, form div.input {
	color: #444;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	display: block;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 100%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=submit] {
	display: inline;
	padding: 2px 5px;
	width: auto;
	font-size: 110%;
	vertical-align: bottom;
}

/* Notices and Errors */
div.message, p.error, div.error-message {
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 8px 0px;
}
div.error-message {
	clear: both;
}
div.error em {
	font-size: 140%;
	color: #003d4c;
}
span.notice {
	background-color: #c6c65b;
	color: #fff;
	display: block;
	font-size: 140%;
	padding: 0.5em;
	margin: 1em 0;
}

/*  Nav & Actions */
div.nav {
	text-align: left;
	position: absolute;
	top: 9em;
	left: 60%;
}
div.nav ul li a {
	display: block;
	background: #fff;
	color: #003d4c;
	padding: 3px 8px;
	text-decoration: none;
}
div.nav ul {
	background: #003d4c;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
div.nav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.nav ul li a {
	background: #fff;
	color: #003d4c;
	padding: 3px 8px;
	text-decoration: none;
}
div.nav ul li a:hover {
	background: #003d4c;
	color: #fff;
}

/*  Actions  */
div.actions {
	clear: both;
	margin-top: .2em;
	text-align: left;
}
div.actions ul {
	margin: 0;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	margin: 0 2em 0 0;
	padding: 0;
}
div.actions ul li a {
	background: #fff;
	color: #003d4c;
	text-decoration: none;
}
div.actions ul li a:hover {
	background: #003d4c;
	color: #fff;
}

/* Related */
div.related {
	clear: both;
	display: block;
}

/* Debugging */
pre {
	background: #f0f0f0;
	padding: 1em;
}

pre.cake_debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 18px;
	margin: 4px 2px;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 4px 2px;
	padding: 4px;
	font-size: 120%;
	line-height: 18px;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000000;
	background-color: #F0F0F0;
	border: 1px dotted #606060;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 5px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #FFFF00;
}