/* Color Guide
----------------------------------------------- *//*
  Orange Header & Logo - #FF2D00
  Aqua Highlight & Logo - #52C1C8
  Header & Text - #777
  Light Gray - #808080
  Border-color - #FF2D00
  New Aqua

*/


/* General Styles
----------------------------------------------- */

body {
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	margin: 0px;
	/* background-image: url(../img/aqua_bar.gif);*/
	background-repeat: repeat-x;
}

p {
	padding-left: 8px;
}

a:link, a:visited {
	color: #FF2D00;
	border-bottom: 1px dotted #FF2D00;
	text-decoration: none;
}


h1 {
	font-size: 16px;
	color: #FF2D00;
}

h2 {
	font-size: 16px;
	padding: 8px;
}

h3 {
	font-size: 30px;
	color: #777777;
	padding: 8px 8px 8px 8px;
}

img {border:none;}


/* Message - ids
----------------------------------------------- */

	#messageExplanation {
		width: 580px;
		position: relative;
	    padding: 6px 6px 6px 6px;
		border-top: 1px dashed #999999;
		border-bottom: 1px dashed #999999;
		background:#FFF url(../img/information.gif) no-repeat 10px;
	}



/* Message - classes
----------------------------------------------- */

	p.messageExplanation {
		padding: 0px 0px 0px 30px;
	}


/* General Style - Ids
----------------------------------------------- */
#uppercontainer {
	width: 770px;
	margin-left: auto;
	margin-right: auto;
}

#container {
	width: 770px;
	margin-left: auto;
	margin-right: auto;
}

#maincontent  {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 770px;
}

#formcontent  {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 580px;
}

#navlist {
	list-style-image: url(../img/orange_bullet.gif);
	padding: 0px 16px;
}


/* Sponsors & Text Ads & Social Media
----------------------------------------------- */
	#textad {
		width: 100%;
		height: 30px;
		background-color: #52C1C8;
		font-size: 16px;
		text-align: center;
        margin: 0px;
		padding-top: 10px;
	}

	.textad-lead {
		color: #FFFFFF;
		padding-right: 5px;
    }

	.textad-link {
		color: #000000;
    }

	#sponsoradscontainer {
		width: 130px;
		margin-top: 30px;
		padding-bottom: 10px;
		float: right;
		border: 0px 0px 0px 0px;
	}

	.sponsorads1 {
		width: 125px;
		height: 125px;
		padding: 10px;
		border: 0px 0px 0px 0px;
	}

	.sponsorads2 {
		padding: 10px;
		width: 125px;
		height: 125px;
		border: 0px 0px 0px 0px;
	}

	a.twitter:link {
		text-align: center;

		}



	.sharethis {
		padding: 10px;
		border: 0px;
	}

	.facebook {
		padding: 10px;
		border: 0px;
	}


/* General - Classes
----------------------------------------------- */

/*#aquabar {
	background-image: url(../img/aqua_bar.gif);
	background-repeat: repeat-x;
	text-align: center;

}
*/

span.highlight {
	background: #52C1C8;
	padding: 1px;
}


span.required {
	color: #900;
}


/* Account Menu
----------------------------------------------- */
#accountmenu	{
	float: right;
	width: 400px;
	margin-top: 6px;
	text-align: right;
}

#accountmenu a, a:link, a:visited	{
	text-decoration: none;
 }

#accountmenu a.on	{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #FF3300;
 }

#accountmenu a:hover	{
	background: #FF2D00;
	color: #FFFFFF;
	text-decoration: underline;
	padding: 4px;
 }



/* Header - Ids
----------------------------------------------- */

#logo	{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 360px;
}

#header	{
	border-bottom: solid 1px #ccc;
}

#headermenu	{
	float: right;
	width: 400px;
	color: #FFF;
	margin-top: 40px;
	text-align: right;
}

#headermenu a, a:link, a:visited	{
	text-decoration: none;
 }

#headermenu a.on	{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #FF3300;
 }

#headermenu a:hover	{
	background: #FF2D00;
	text-decoration: underline;
	padding: 4px;
 }


/* Profile Submenu
----------------------------------------------- */
#chefmenu a.chefmenu2, #chefmenu a.chefmenu2, #chefmenu a.chefmenu2:link, #chefmenu a.chefmenu2:visited {
	display: block;
	width: 120px;
	height: 25px;
	border-right: solid 1px #ffffff;
	border-bottom: solid 4px #cccccc;
	background:	#FF2D00;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	line-height: 25px;
}

#chefmenu a.chefmenu2, #chefmenu a.chefmenu2:link, #chefmenu a.chefmenu2:visited {
	float:left;
}

#chefmenu a.chefmenu2:hover, #chefmenu a.chefmenu2:active {
	background: #52C1C8;
	color:#fff;
}

#chefmenublock {
	display: block;
	width: 406px;
	float: right;
	height: 25px;
	border-right: solid 1px #ffffff;
	border-bottom: solid 4px #cccccc;
	background:	#FF2D00;
	line-height: 25px;
}

/* Signup & Browse Buttons
----------------------------------------------- */

#button {
	display: block;
	margin: 8px 8px 8px 8px;
	padding: 8px 8px 8px 8px;
	text-align: center;
	width: 300 px;
	float: left;
	border: solid 2px #FF2D00;
}

/* Chef Forms
----------------------------------------------- */

form input.input-text {
	width: 150px;
}

select {
	width: 100px;
}

form textarea.input-area {
	width: 330px;
	height: 80px;
}

div.form-submit {
 	float: left;
	padding: 4px 4px 4px 4px;
}

/* Tables
----------------------------------------------- */

table.imageupload-table th, td {
	padding: 6px 6px 6px 6px;
	text-align: left;
	color: #777777;
	width: 700 px;

}

.imageupload-label {
	width: 100px;
}

table.form-table th, td {
	padding: 6px 6px 6px 6px;
	text-align: left;
	vertical-align: text-top;
}

.form-label {
	width: 200px;
}

.form-data {
	width: 500px;
}


table.profile-table th,td {
	padding: 6px 6px 6px 6px;
	text-align: left;
	vertical-align: text-top;
}

.profile-label {
	width: 200px;
}

.profile-data {
	width: 500px;
}

table.contactprint-table td {
	color: #FFFFFF;
	padding: 6px 6px 6px 6px;
	text-align: left;
}

.contactprint-label {
	width: 200px;
}


.contactprint-data {
	width: 500px;
}

span.contactprint {
	background: #52C1C8;
	width: auto;
	padding: 6px 6px 6px 6px;
	margin-top: 4px;
	float: left;
	clear: left;
}


/* Chef Form - Error Classes
----------------------------------------------- */
div.message, p.error, div.error-message {
	color: #900;
	font-weight: ;
	margin: 8px 0px;
}
div.error-message {
	clear: both;
}
div.error em {
	color: #003d4c;
}

#errorExplanation {
	width: 580px;
	position:relative;
	top:4px;
	margin:4px 0 10px;
	background:#EEE;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: ;
	padding: 4px 4px 4px 10px;
	font-size: 12px;
	background:#52C1C8;
	color: #000;
	border-top:3px solid #808080;
	border-bottom:3px solid #808080;
	margin-top:0;
}

/*  Browse Chef Profiles
----------------------------------------------- */

.chef li {
	list-style: none;
	}

.chef li.odd {
	background: #F1F1F1;
	padding: 8px 8px 8px 8px;
}

.chef li.even {
	background:#FFFFFF;
	padding: 8px 8px 8px 8px;
}
.chef li a {
	color: #777;
	text-decoration: underline;
}

/* Tour Menu
----------------------------------------------- */

#tour {
	width:770px;
	font-size: 11px;
	font-weight: ;
	color: #777777;
}

#tourmenu	{
	margin-left: 16px;
	float: left;
}

#tourmenu a, a:link, a:visited {
	text-decoration: underline;
}

#tourmenu a:hover	{
	background: #FF2D00;
	color: #FFFFFF;
 }


#tourmenu a.on	{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #FF3300;
 }


/* Footer
----------------------------------------------- */

#footer {
	clear: both;
	width: 770px;
	font-size: 13px;
	color: #777777;
	border-top: solid 1px #ccc;
	padding-top: 8px;
}

#footermenu	{
	float: left;
	width: 570px;
}

#footermenu a, a:link, a:visited {
	text-decoration: none;
}

#footermenu a.on	{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #FF3300;
	padding: 4px;
 }

#footermenu a:hover	{
	background: #FF2D00;
	color: #FFFFFF;
	padding: 4px;
 }

#copyright {
	float: right;
	text-align: right;
	width: 200px;
}

#copyright a, a:link, a:visited {
	text-decoration: none;
}

#copyright a:hover	{
	background: #FF2D00;
	color: #FFFFFF;
 }

#copyright a.on	{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #FF3300;
 }