/* Color Guide
----------------------------------------------- *//*
  Orange Header & Logo - #FF2D00
  Aqua Highlight & Logo - #8CCDD0
  Gray Header & Text - #777
  Light Gray - #808080
  border-color - #FF2D00

*/


/* General Styles
----------------------------------------------- */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin: 0px;
}

p {
	padding-left: 8px;
}

h1 {
	font-size: 16px;
	color: #FF2D00;
}

h2 {
	font-size: 14px;
	color: #777777;
	padding: 8px;
}

h3 {
	font-size: 30px;
	color: #777777;
	padding: 8px 8px 8px 8px;
}


/* Message - ids
----------------------------------------------- */

	#messageExplanation {
		width: 580px;
		position: relative;
	    padding: 6px 6px 6px 6px;
		border-top: 1px dashed #999999;
		border-bottom: 1px dashed #999999;
		background:#FFF url(img/information.gif) no-repeat 10px;
	}

/* Message - classes
----------------------------------------------- */

	p.messageExplanation {
		padding: 0px 0px 0px 30px;
	}


/* General Style - Ids
----------------------------------------------- */
#uppercontainer {
	width: 770px;
	margin-left: auto;
	margin-right: auto;

}

#container {
	width: 770px;
	margin-left: auto;
	margin-right: auto;

}

#maincontent  {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 770px;
}

#formcontent  {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
}

#navlist {
	list-style-image: url(/assets/images/orange_bullet.gif);
}


/* Sponsor
----------------------------------------------- */

	#sponsoradscontainer {
		width: 130px;
		margin-top: 30px;
		float: right;
	}

	.sponsorads1 {
		width: 125px;
		height: 125px;
		float: right;
		background: url(img/125x125_ad1.gif);
	}

	.sponsorads2 {
		width: 125px;
		height: 125px;
		float: right;
		margin-top: 40px;
		background: url(img/125x125_ad2.gif);
	}

/* General - Classes
----------------------------------------------- */

.aquabar {
	height:20px;
	background-image: url(/assets/images/aqua_bar.gif);
}

span.highlight {
	background: #8CCDD0;
	padding: 1px;
}


/* Account Header - Ids
----------------------------------------------- */

#accountmenu	{
	float: right;
	width: 400px;
	margin-top: 6px;
	color: #777;
	text-align: right;
}

#accountmenu a, a:link, a:visited	{
	font-weight: bold;
	color: #777777;
	text-decoration: none;
 }

#accountmenu a.on	{
	font-weight: bold;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #FF3300;
 }

#accountmenu a:hover	{
	background: #8CCDD0;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
 }


/* Header - Ids
----------------------------------------------- */

#logo	{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 363px;
}

#header	{
	border-bottom: solid 1px #ccc;
}

#headermenu	{
	float: right;
	width: 400px;
	color: #777;
	margin-top: 40px;
	text-align: right;
}

#headermenu a, a:link, a:visited	{
	font-weight: bold;
	color: #777777;
	text-decoration: none;
 }

#headermenu a.on	{
	font-weight: bold;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #FF3300;
 }

#headermenu a:hover	{
	background: #FF2D00;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
 }


/* Chef Top Menu
----------------------------------------------- */
#chefmenu a.chefmenu2, #chefmenu a.chefmenu2, #chefmenu a.chefmenu2:link, #chefmenu a.chefmenu2:visited {
	display: block;
	width: 100px;
	height: 25px;
	border-right: solid 1px #ffffff;
	border-bottom: solid 4px #cccccc;
	background:	#FF2D00;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	line-height: 25px;
}

#chefmenu a.chefmenu2, #chefmenu a.chefmenu2:link, #chefmenu a.chefmenu2:visited {
	float:left;
}

#chefmenu a.chefmenu2:hover, #chefmenu a.chefmenu2:active {
	background: #8CCDD0;
	color:#fff;
}

#chefmenublock {
	display: block;
	width: 466px;
	float: right;
	height: 25px;
	border-right: solid 1px #ffffff;
	border-bottom: solid 4px #cccccc;
	background:	#FF2D00;
	line-height: 25px;
}

/* Buttons
----------------------------------------------- */

#button {
	display: block;
	margin: 8px 8px 8px 8px;
	padding: 8px 8px 8px 8px;
	text-align: center;
	width: 300 px;
	float: left;
	border: solid 2px #FF2D00;
}

/* Chef Forms - Classes
----------------------------------------------- */

form input.input-text {
	width: 150px;
}

select {
	width: 100px;
}

form textarea.input-area {
	width: 330px;
	height: 80px;
}

div.form-submit {
 	float: left;
	padding: 4px 4px 4px 4px;
}

/* Chef Form Table Style - Ids
----------------------------------------------- */

table.form-table th, td {
	padding: 6px 6px 6px 6px;
	text-align: left;
	vertical-align: top;
	color: #777777;
}

table.profiletable th, td {
	padding: 6px 6px 6px 6px;
	text-align: left;
	vertical-align: top;
	color: #777777;
}

.profile-label {
  width: 200px;
}

.profile-data {
  width: 580px;
}



/* Chef Form - Error Classes
----------------------------------------------- */
	.fieldWithErrors  {
		border-left:4px solid #FF2D00;
		padding-left:2px;
	}

	#errorExplanation {
		width: 580px;
		position:relative;
		top:4px;
		margin:4px 0 10px;
		background:#EEE;
	}

	#errorExplanation h2 {
		text-align: left;
		font-weight: bold;
		padding: 4px 4px 4px 10px;
		font-size: 12px;
		background:#8CCDD0;
		color: #000;
		border-top:3px solid #808080;
		border-bottom:3px solid #808080;
		margin-top:0;
	}

/*  Browse Chef Profile
----------------------------------------------- */

.chef li {
	list-style: none;
	}

.chef li.odd {
	background: #F1F1F1;
	padding: 8px 8px 8px 8px;
}

.chef li.even {
	background:#FFFFFF;
	padding: 8px 8px 8px 8px;
}
.chef li a {
	color: #777;
	text-decoration: underline;
}

/* Footer - Ids
----------------------------------------------- */

#footer {
	clear: both;
	width: 770px;
	font-size: 11px;
	border-top: solid 4px #ccc;
	padding-top: 8px;
}

#footermenu	{
	float: left;
	width: 570px;
	color: #777777;
}

#footermenu a, a:link, a:visited {
	font-weight: bold;
	color: #777777;
	text-decoration: none;
}

#footermenu a.on	{
	font-weight: bold;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #FF3300;
 }

#footermenu a:hover	{
	background: #FF2D00;
	color: #FFFFFF;
	font-weight: bold;
 }

#copyright {
	float: right;
	text-align: right;
	width: 200px;
	color: #777777;
}

#copyright a, a:link, a:visited {
	font-weight: bold;
	color: #777777;
	text-decoration: none;
}

#copyright a.on	{
	font-weight: bold;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #FF3300;
 }

#copyright a:hover	{
	background: #FF2D00;
	color: #FFFFFF;
	font-weight: bold;
 }
