/* Error CSS Document */


	.fieldWithErrors  {
	  border-left:6px solid #900;
	  padding-left:2px;
	  background:#EEE;
	}

	.fieldWithErrors input, .fieldWithErrors select {
	  width:100%;
	}


	.fieldWithErrors+label {
	  margin-top:0;
	}


	#errorExplanation {
	position:relative;
	top:10px;  
	margin:10px 0 20px;
	  background:#FCC;
	}

	#errorExplanation h2 {
	  text-align: left;
	  font-weight: bold;
	  padding: 5px 5px 5px 35px;
	  font-size: 12px;
	  background:#C66 url(http://www./images/alert.gif) no-repeat 10px 50%;
	  color: #fff;
	  border-top:3px solid #900;
	  border-bottom:3px solid #900;
	  margin-top:0;
	}

	#errorExplanation p {
	  color: #333;
	  margin-bottom: 0;
	  padding: 10px 15px;
	  font-size:11px;
	  font-weight:bold;
	}
	
	#errorExplanation ul {
		margin-left:30px;
		padding:0 0 20px;
	}

	#errorExplanation ul li {
	  font-size: 11px;
	  list-style: square;
	  color:#333;
	}
	
	#errorExplanation a {
		color: #FFC;
	}
	
	#errorExplanation a:hover {
		background: #FFC;
		color: #000;
	}
	
	
	#flash-error {
	margin: 0 0 20px 0;
	background: #FF6966;
	border: 1px solid #FF4A47;
	padding: 8px 15px;
	line-height: 1.7em;
}

.error {
	background: #FFE5E5;
	padding: 5px 10px;
	color: #FF4747;
	font-weight: bold;
}
	
	
	
	